@model HTTP_5101_Cumulative_Project.Models.Student
@{
    ViewBag.Title = "Show";
}
<nav>
    <a class="link" href="/Student/List">Back to Students</a>

    <a class="dellink" href="/Student/DeleteConfirm/@Model.StudentId">Delete Student</a>

</nav>

<div class="more-data">
    <h2>Student: @Model.StudentFname @Model.StudentLname</h2>
    <p>Student Id: @Model.StudentId</p>
    <p>Student #: @Model.StudentNum</p>
    <p>Enrolment Date: @Model.EnrolDate.ToString("dddd, MMMM dd , yyyy")</p>
    <br />

    <a class="link" href="/Student/Update/@Model.StudentId">Update Student</a>
</div>

